<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Inventario de la Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let item of items | async"  color="light" >
        <ion-card-header >
          {{item.nombre}}

        </ion-card-header>
        <ion-card-content>
            <ion-list >

                <ion-item>
                    <ion-label>Precio: {{item.precio}}</ion-label>                    
                  </ion-item>
              
                <ion-item>
                  <ion-label>Cantidad: {{item.cantidad}}</ion-label>
                </ion-item>
              
              </ion-list>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt. 
         
         <br>
          <ion-button class="marginbtn" color="success">Editar</ion-button>
          <ion-button color="success" routerLink="/dashboard">Eliminar</ion-button>

        </ion-card-content>
       
      
      </ion-card>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="add" routerLink="/inv-store"></ion-icon>
          </ion-fab-button>
      </ion-fab>
    

</ion-content>
