<ion-header>
  <ion-toolbar  color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Agregar materia prima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
       
        <ion-item>
          <ion-label>Agregar Material para produccion</ion-label>
          <ion-select [(ngModel)]="name" (ngModelChange)="name"  cancelText="Cancelar" okText="Aceptar">
            <ion-select-option *ngFor="let item of items | async" [value]="item.nombre">{{item.name}}</ion-select-option>    
          </ion-select>
        </ion-item>
      <br>
     
      </ion-list>
      <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="text" [(ngModel)]="quantity" name="quantity"></ion-input>   
      </ion-item>
      <br>
      <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="text" [(ngModel)]="price" name="price"></ion-input>   
      </ion-item>
      <br>
      <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text" [(ngModel)]="description" name="description"></ion-input>   
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Rif del Proveedor</ion-label>
        <ion-input type="text" [(ngModel)]="rifProv" name="rifProv"></ion-input>   
    </ion-item>
     
      <ion-button class="marginbtn" color="success" (click)="getMateriaPrima();">Agregar</ion-button>
      <ion-button color="success" routerLink="/dashboard">Cancelar</ion-button>
     
</ion-content>
