<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Agregar Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" name="quantity"></ion-input>   
</ion-item>
<br>
<ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" name="price"></ion-input>   
</ion-item>
<br>
<ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="text" name="description"></ion-input>   
</ion-item>
<br>
<ion-item>
    <ion-label position="floating">Rif</ion-label>
    <ion-input type="text" name="description"></ion-input>   
</ion-item>

<ion-button class="marginbtn" color="success">Agregar</ion-button>
<ion-button color="success" routerLink="/dashboard">Cancelar</ion-button>
     
</ion-content>
